* {
      margin: 0;
      padding: 0;
}

body {
      display: flex;
      justify-content: center;
      background-color: #f4e4ba;
      align-items: center;
      min-height: 100vh;
}

.container {
      background-color: #fff;
      width: 40vh;
      min-height: 45vh;
      padding: 2rem;
      border-radius: 1rem;
}

form {}

.dropdown {
      
}